* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

html {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  width: 100%;
  height: 100%;
  font-family: "PingFangSC-Regular", "Microsoft YaHei", STHeiti, Helvetica, Arial, sans-serif !important;
  font-size: 12px;
  color: #666;
  background: #EEE;
  overflow-y: hidden;
  min-width: 1000px; }

a {
  text-decoration: none;
  color: #666; }

a img {
  border: none; }

i, em {
  font-style: normal; }

input, button, span, em, i, label {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none; }

input[placeholder] {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important; }

table {
  border-collapse: collapse; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f0f0f0; }

::-webkit-scrollbar-track {
  background-color: #f0f0f0; }

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7; }

#page {
  width: 100%;
  height: 100%; }
  #page .paper-drawer-panel {
    width: 100%;
    height: 100%;
    display: flex; }

#main {
  width: calc(100% - 264px);
  height: 100%;
  position: relative; }
  #main .paper-header {
    width: 100%;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 0px 28px 0px 16px;
    justify-content: space-between;
    z-index: 999;
    background: #EEE;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
    #main .paper-header .left {
      display: flex;
      align-items: center; }
    #main .paper-header .logo {
      width: 40px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center; }
    #main .paper-header .site-name {
      max-width: 310px;
      min-width: 100px;
      width: 20vw;
      padding-left: 12px; }
      #main .paper-header .site-name > div > div:before {
        border-bottom: none; }
      #main .paper-header .site-name input {
        font-size: 1.3em; }
    #main .paper-header .actions {
      display: flex;
      align-items: center; }
      #main .paper-header .actions button {
        margin-left: 12px; }
      #main .paper-header .actions .publish {
        height: 36px;
        border-radius: 3px;
        box-shadow: none;
        min-width: 53px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }
      #main .paper-header .actions .publish-more {
        height: 36px;
        border-radius: 3px;
        box-shadow: none;
        margin-left: 1px;
        min-width: 28px;
        padding: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; }
  #main .paper-header-shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  #main #mainPanel {
    width: 100%;
    height: 100%;
    padding-top: 56px; }
    #main #mainPanel #mainContainer {
      width: 100%;
      height: 100%;
      overflow-y: auto; }
      #main #mainPanel #mainContainer .content {
        background: #FFF;
        margin: 8px 60px 2rem;
        max-width: 1280px;
        min-height: calc(100% - 2rem - 8px);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 1660px) {
  #main #mainContainer .content {
    margin: 8px auto 2rem !important; } }
#drawer {
  width: 264px;
  height: 100%;
  background: #FFF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 999; }
  #drawer .drawer-tabs {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    #drawer .drawer-tabs button {
      width: calc(264px / 3);
      min-width: calc(264px / 3);
      height: 59px; }
      #drawer .drawer-tabs button span {
        padding: 0px;
        font-size: 14px; }
  #drawer .drawer-content {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    background: #FAFAFA; }
    #drawer .drawer-content .base-insert {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 12px 0px;
      background: #FFF;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
      #drawer .drawer-content .base-insert .i-wrap {
        width: 50%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #drawer .drawer-content .base-insert .i-wrap button {
          width: 88px;
          height: 66px; }
          #drawer .drawer-content .base-insert .i-wrap button:hover {
            background: none; }
            #drawer .drawer-content .base-insert .i-wrap button:hover > span > span {
              color: black; }
          #drawer .drawer-content .base-insert .i-wrap button > span {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            #drawer .drawer-content .base-insert .i-wrap button > span > span {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.66);
              margin-top: 5px; }
    #drawer .drawer-content .toggle-panel {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      min-height: 57px;
      transition: all 250ms ease; }
      #drawer .drawer-content .toggle-panel .toggle-head {
        width: 100%;
        height: 36px; }
        #drawer .drawer-content .toggle-panel .toggle-head > span {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          #drawer .drawer-content .toggle-panel .toggle-head > span .label {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.66); }
          #drawer .drawer-content .toggle-panel .toggle-head > span svg {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.66); }
      #drawer .drawer-content .toggle-panel .layout-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 15px; }
        #drawer .drawer-content .toggle-panel .layout-item .block {
          width: 50%;
          height: 86px;
          display: flex;
          justify-content: center;
          align-items: center; }
          #drawer .drawer-content .toggle-panel .layout-item .block button {
            width: 108px;
            height: 74px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            border-radius: 0px; }
            #drawer .drawer-content .toggle-panel .layout-item .block button:hover {
              background: none; }
            #drawer .drawer-content .toggle-panel .layout-item .block button i {
              font-size: 4rem;
              color: #9e9e9e; }
    #drawer .drawer-content .page-filter {
      width: 100%;
      height: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center; }
      #drawer .drawer-content .page-filter svg {
        width: 40px; }
      #drawer .drawer-content .page-filter input {
        width: calc(100% - 40px);
        height: 39px;
        border: none;
        outline: none;
        padding: 0px 10px 0px 0px;
        background: none; }
    #drawer .drawer-content .theme-item {
      width: 100%; }
      #drawer .drawer-content .theme-item .block {
        width: calc(100% - 8px);
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin: 4px; }
        #drawer .drawer-content .theme-item .block:hover {
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
        #drawer .drawer-content .theme-item .block .layout {
          width: 100%;
          height: 100px;
          background: #7a7a7a;
          font-size: 27px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFF;
          cursor: default; }
          #drawer .drawer-content .theme-item .block .layout span {
            cursor: default; }
      #drawer .drawer-content .theme-item .block-active {
        border: none;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

#render-publish-menu > div:nth-child(2) {
  width: 192px;
  margin-left: -165px;
  margin-top: 30px; }

#actionMore-menu > div:nth-child(2) {
  margin-left: -25px;
  margin-top: 30px; }

/*# sourceMappingURL=app.css.map */
