<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href="//at.alicdn.com/t/font_288498_yqekkkynivg.css"/>
    <link rel='stylesheet' href='/style/app.css'/>
</head>
<body>
<div id="page"></div>
</body>
<script src="/dist/bundle_app.js"></script>
</html>